:root {
  --red-color: #c0392b;
  --red-color-light: #fad3cf;
}

* {
  font-size: 10px;
}

body {
  background-color: #FFF;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pulse {
  width: 10rem;
  height: 10rem;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.pulse i {
  font-size: 8rem;
  height: 8rem;
  color: var(--red-color);
  
}

.pulse-pseudo:before {
  content: "";
  background-color: var(--red-color-light);
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  z-index: -1;
}

.pulse-pseudo:hover::before {
  animation: pulse 1s infinite;
}

.pulse-shadow {
  background-color: transparent;
  box-shadow: 0px 10px 100px var(--red-color);
}

@keyframes pulse {
  0% {
    width: 0rem;
    height: 0rem;
    opacity: 0;
  }

  50% {
    width: 10rem;
    height: 10rem;
    opacity: 1;
  }
  
  100% {
    width: 20rem;
    height: 20rem;
    opacity: 0;
  }
}

