:root {
  --white-color: #FFF;
  --blue-color: 0, 44, 155;

}

* {
  font-size: 10px;
  font-family: system-ui;
}

body {
  background-color: var(--white-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;

}

.pulse-box {
  width: 30rem;
  display: flex;
  justify-content: center;
}

.pulse-pseudo {
  background-color: rgb(var(--blue-color));
  width: 10rem;
  height: 10rem;
  font-size: 10rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  position: relative;
}

.pulse-pseudo i {
  font-size: 5rem;
  color: var(--white-color);
}

.pulse-pseudo:before {
  content: "";
  background-color: rgba(var(--blue-color), .5);
  position: absolute;
  border-radius: 50%;
  opacity: 1;
  z-index: -1;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    width: 0rem;
    height: 0rem;
    opacity: 0;
  }

  50% {
    width: 10rem;
    height: 10rem;
    opacity: 1;
  }
  
  100% {
    width: 20rem;
    height: 20rem;
    opacity: 0;
  }
}

.pulse-shadow {
  width: 10rem;
  height: 10rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: #FFF;
  background-color: rgb(var(--blue-color));
  animation: pulse-sh 1s linear infinite;
}

.pulse-shadow i {
  font-size: 5rem;
}

@keyframes pulse-sh {
  0% {
    box-shadow: 0 0 0 0 var(--blue-color);
  }

  50% {
    box-shadow: 0 0 0 20px rgba(var(--blue-color), 0.3);
  }

  100% {
    box-shadow: 0 0 0 50px rgba(var(--blue-color), 0);
  }
}

